@model IEnumerable<UserViewModel>

<h1>All Users</h1>

@foreach(var user in Model)
{
    <div class="mb-4">@user.FirstName @user.LastName - 
    (
        @foreach(var role in user.Roles)
        {
            <span class="mr-1">@role</span>
        }
    )
    </div>
}