@model IEnumerable<RepDepInjAndPartialView.Models.ProductList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model) {
    @await Html.PartialAsync("_ProductListCarouselPartial", item)
}
